body {
    font-family: Roboto, sans-serif;
}

.app {
    background: black;
    color: white;
    overflow: scroll;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.app::-webkit-scrollbar {
    display: none;
}
h1 {
    margin: 5px;
    height: 3rem;
}

.app-menu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    text-transform: none;
    margin: 1rem 0;
}

.app-links {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

@media screen and (max-width: 500px){
    .app-menu {
        transform: translateY(50vh);
    }
}